VITE_API_URL=http://localhost:8000/api

# Informations de l'entreprise (utilisées dans les PDF de devis


VITE_COMPANY_NAME=DevisApp

VITE_COMPANY_ADDRESS= Cameroon, Yaoundé, Melen

VITE_COMPANY_PHONE=+237 656789010

VITE_COMPANY_EMAIL=contact@monentreprise.cm

VITE_COMPANY_WEBSITE=www.monentreprise.cm

VITE_COMPANY_SIRET=RC/DLA/2024/B/XXXXX

VITE_COMPANY_TAX_ID=M0000000000000X

VITE_COMPANY_CURRENCY=FCFA

VITE_COMPANY_LOGO=

VITE_COMPANY_FOOTER=Devis valable 30 jours à compter de sa date d'émission. TVA non applicable.